<nav id="navigation">
  <h1>Caroline Olivia.</h1>
  <a onclick="openNavi()"><i class="fas fa-hamburger"></i></a>
  
  <div class="navbar" id="navbarid">
    
 
        <a class="close" onclick="closeNav()"><i class="fas fa-times"></i></a>
    <a href="/">home</a>
    <a href="/portfolio/">portfolio</a>
    <a href="/code-pens/">code pens</a>
    <a href="/tags/">tags</a>
    <a href="https://www.instagram.com/carolineoliviaxx/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/cadkcrush" target="_blank"><i class="fab fa-facebook-square"></i></a>
    <a href="https://github.com/carolineolivia" target="_blank"><i class="fab fa-github-alt"></i></a>
    <a href="https://www.linkedin.com/in/caroline-olivia" target="_blank"><i class="fab fa-linkedin"></i></a>
    
  </div>

</nav>